<div style="border: 1px red solid;">Patron Observer</div>

<br>
<div>Elementos:</div>
<br>

<div>
    <span>Observable:</span>
    <input type="text" id="miObservable">
    <button (click)="notificar()">Notificar</button>
</div>

<br>

<div>
    <span>Observer_1:</span>
    <input disabled type="text" id="Observer_1">
    <button (click)="atar('Observer_1')">Atar</button>
    <button (click)="desatar('Observer_1')">Desatar</button>
</div>

<br>

<div>
    <span>Observer_2:</span>
    <input disabled type="text" id="Observer_2">
    <button (click)="atar('Observer_2')">Atar</button>
    <button (click)="desatar('Observer_2')">Desatar</button>
</div>

<br>

<div>
    <span>Observer_3:</span>
    <input disabled type="text" id="Observer_3">
    <button (click)="atar('Observer_3')">Atar</button>
    <button (click)="desatar('Observer_3')">Desatar</button>
</div>