<div style="border: 1px red solid;">Implementacion RxJS</div>

<br>
<div>Elementos:</div>
<br>

<div>
    <span>Observable:</span>
    <input type="text" id="miObservable">
    <button (click)="notificar()">Notificar</button>
    <button (click)="notificarError()">Notificar Error</button>
    <button (click)="notificarComplete()">Notificar Complete</button>
</div>

<br>

<div>
    <span>Observer_1:</span>
    <input disabled type="text" id="Observer_1">
    <button (click)="subscribir_1()">Atar</button>
    <button (click)="desSubscribir_1()">Desatar</button>
</div>

<br>

<div>
    <span>Observer_2:</span>
    <input disabled type="text" id="Observer_2">
    <button (click)="subscribir_2()">Atar</button>
    <button (click)="desSubscribir_2()">Desatar</button>
</div>

<br>

<div>
    <span>Observer_3:</span>
    <input disabled type="text" id="Observer_3">
    <button (click)="subscribir_3()">Atar</button>
    <button (click)="desSubscribir_3()">Desatar</button>
</div>

<br>

<div>
    <span>Observer_4:</span>
    <input disabled type="text" id="Observer_4">
    <button (click)="subscribir_4()">Atar</button>
    <button (click)="desSubscribir_4()">Desatar</button>
</div>

<!--

<div>
    <span>Observer_1:</span>
    <input disabled type="text" id="Observer_1">
    <button (click)="atar('Observer_1')">Atar</button>
    <button (click)="desatar('Observer_1')">Desatar</button>
</div>

<br>

<div>
    <span>Observer_2:</span>
    <input disabled type="text" id="Observer_2">
    <button (click)="atar('Observer_2')">Atar</button>
    <button (click)="desatar('Observer_2')">Desatar</button>
</div>

<br>

<div>
    <span>Observer_3:</span>
    <input disabled type="text" id="Observer_3">
    <button (click)="atar('Observer_3')">Atar</button>
    <button (click)="desatar('Observer_3')">Desatar</button>
</div> -->